[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.panel, body, ion-content, html {
	background-color: #EEE;
}

.card {
	border: 1px solid gray;
	border-radius: 5px;
	padding: 1em;
	box-shadow: 0	1px	3px #888;
}

.profile-picture {
	max-height: 200px;
	border-radius: 999px;
	margin-bottom: 1em;
	box-shadow: 0	0	5px #888;
}

.heading {
	margin-bottom: 15px;
}

.perk {
	margin-bottom: 2em;

	.perk-picture {
		max-height: 200px;
		margin-bottom: 1em;
		border-radius: 999px;
	}
}

.btn-teal {
	background-color: $yt-teal;
	color: white;
}

input[type="text"], input[type="number"], input[type="date"] {
	border: 1px solid #ccc;
  border-radius: 4px;
	padding-left: 1em;
}

.nav-top-links {
	color: black;
}

body {
	font-family: 'Fira Sans' !important;
}

.avatar-selection {
	max-height: 100px;
	display: inline-block;
	width: 20%
}

.avatar-image-wrapper {
	margin-bottom: 20px;
}

.checkbox-text {
	margin-left: 15px;
}

.spinner {
	opacity: 0;
}
